* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color:grey;
}
ul {
    list-style:none;
    list-style-position: inside;
}
 nav {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;   
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: none;
 }
 
  .bfilme {
    color:pink;
    text-decoration: none;
  }
  .bjogo {
    color:purple;
    text-decoration: none;
  }